{% extends "dash/includes/global.html" %}
{% load static %}
{% load mathfilters %}
{% load front_extras %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="row">
        {% include "dash/includes/bot_status.html" %}
        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre de C'est L'Heure ce mois ci
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ global_stat.count_cestlheure_current }}
                                - {% widthratio global_stat.count_cestlheure_current global_stat.total_cestlheure_current 100 %}%
                                <span class="font-weight-light">({{ global_stat.total_cestlheure_current | sub:global_stat.count_cestlheure_current }} ratés)</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre de C'est L'Heure depuis le début
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ global_stat.count_cestlheure }}
                                - {% widthratio global_stat.count_cestlheure global_stat.total_cestlheure 100 %}%
                                <span class="font-weight-light">({{ global_stat.total_cestlheure | sub:global_stat.count_cestlheure }} ratés)</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Statistiques du mois</h6>
                    <p class="m-0 font-weight-bold text-primary" id="cur_title"></p>
                    <div class="btn-group">
                        <button id="cur_prev" type="button" class="btn btn-primary"><i class="fas fa-chevron-left"></i>
                        </button>
                        <button id="cur_next" type="button" class="btn btn-primary"><i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="curMonth"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Classement global</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <ul class="list-group">
                        {% for item in global_score %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="pull-left ">
                                    <img height="32px" src="{{ item.message__author__photo_url }}"
                                         class="rounded"/>
                                    {{ item.message__author__name }}
                                </span>
                                <span class="badge badge-secondary">{{ item.total }} point(s)</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Classement par mois</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <ul class="list-group">
                        {% for item in stars %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="pull-left ">
                                    <img height="32px" src="{{ item.player.message__author__photo_url }}"
                                         class="rounded"/>
                                    {{ item.player.message__author__name }}
                                </span>
                                {% search_user global_score item.player.message__author as tmp_global %}
                                <span><span class="badge badge-secondary">{{ item.stars }} étoile(s)</span><span
                                        class="badge badge-info ml-2">{{ tmp_global.total | intdiv:item.stars }}/étoile</span></span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 id="global_title" class="m-0 font-weight-bold text-primary">Statistiques par mois</h6>
                    <button id="global_switch" type="button" class="btn btn-primary">Score par équipe</button>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="byMonth"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "chart_cur.js" %}"></script>
    <script src="{% static "chart_global.js" %}"></script>
{% endblock %}