{% extends "dash/includes/global.html" %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="row"></div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de C'est L'Heure
                            ce mois ci
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">TODO</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Statistiques du mois</h6>
                    <p class="m-0 font-weight-bold text-primary" id="cur_title"></p>
                    <div class="btn-group">
                        <button id="cur_prev" type="button" class="btn btn-primary"><i class="fas fa-caret-left"></i>
                        </button>
                        <button id="cur_next" type="button" class="btn btn-primary"><i class="fas fa-caret-right"></i>
                        </button>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="curMonth"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "chart_cur.js" %}"></script>
{% endblock %}